.ChangePassword {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChangePassword-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--dark-grey);
  background-color: white;
  border-radius: 6px;
  padding: 1em 1.5em;
  width: 25%;
}

.ChangePassword-box div {
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.ChangePassword-box input {
  padding: 3px 8px;
  border: none;
  box-shadow: 2px 2px 7px var(--dark-grey);
  border-radius: 6px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  width: 100%;
}

.ChangePassword-box button {
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  background-color: lightseagreen;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  align-self: flex-end;
}

.ChangePassword-box button:hover{
    cursor: pointer;
    opacity: 0.9;
}
