.SinglePost {
  display: flex;
  gap: 2em;
  margin: 2em;
  margin-bottom: 0;
}

.SinglePost .index-left {
  flex: 1.5;
}

.SinglePost-right {
  flex: 5;
}

.SinglePost-right {
  margin: 10px;
  background-color: white;
  border-radius: 6px;
  padding: 1em;
  position: relative;
  height: fit-content;
}

.SinglePost-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.SinglePost-name-img-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.SinglePost-name-img-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
}

.SinglePost-name {
  font-weight: 600;
  font-size: 19px;
}

.SinglePost-time {
  color: var(--dark-grey);
  font-weight: 600;
  font-size: 15px;
  line-height: 1em;
}

.SinglePost-text {
  margin: 5px 5px;
  font-weight: 600;
  font-size: 19px;
}

.SinglePost-img-container {
  margin: 10px 0;
  position: relative;
}

.SinglePost-img {
  width: 100%;
  object-fit: contain;
  height: 450px;
  image-rendering: pixelated;
  border-radius: 6px;
}

.Singlepost-img-extended-opt {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--light-grey);
  font-size: 15px;
  color: black;
  font-weight: 600;
  width: fit-content;
  padding: 6px 10px;
  border-radius: 6px;
}

.Singlepost-img-extended-opt:hover {
  background-color: #88888859;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.SinglePost-right .HomePost-show-options {
  width: 25%;
  gap: 4px;
}

.SinglePost-right .HomePost-emoji-input-container {
  right: 16px;
  bottom: 80px;
}

.SinglePost-right .HomePost-show-options div {
  padding: 6px 8px;
  font-size: 16px;
}

.SinglePost-right .HomePost-write-comment {
  width: 60%;
}

.SinglePost-right .HomePost-write-comment input {
  font-size: 15px;
  width: 86%;
}

.SinglePost-right .HomePost-comment-inp-icon {
  font-size: 1.3em;
}

.SinglePost-right .HomePost-icon {
  font-size: 1.5em;
}

.SinglePost-right .HomePost-comment-img-upload {
  right: 39px;
  top: 7px;
  font-size: 1.3em;
}

.SinglePost-allComments h3 {
  margin: 10px 0;
}

.SinglePost-single-comment {
  padding: 10px;
  background-color: var(--light-grey);
  border-radius: 6px;
  margin: 10px 0;
  width: fit-content;
  max-width: 60%;
  min-width: 40%;
  position: relative;
}

.SinglePost-img-name-time-container {
  display: flex;
  justify-content: space-between;
}

.SinglePost-img-name-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.SinglePost-commentor-name {
  font-weight: 600;
}

.SinglePost-comment-time {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-grey);
}

.SinglePost-commentor-photo {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--dark-grey);
}

.SinglePost-comment-img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  /* object-fit: contain; */
  /* image-rendering: pixelated; */
  margin-top: 5px;
}

.SinglePost-comment_text {
  font-family: "Poppins", sans-serif;
  margin: 5px;
}

.SinglePost-comment-like-container {
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
}

.SinglePost-comment-like-container span {
  margin: 0 5px;
  font-weight: 600;
  font-size: 15px;
  color: var(--dark-grey);
}

.SinglePost-comment-like-icon {
  padding: 5px;
  background-color: #ffc2cb;
  border-radius: 50%;
  font-size: 1.3em;
  color: red;
}

.SinglePost .HomePost-emoji-input-container {
  height: fit-content;
  top: 135px;
}

.SinglePost .HomePost-comment-inp-icon {
  top: 8px;
}
