.SinglePost-comment-dot {
  padding: 2px;
  border-radius: 50%;
  background-color: var(--dark-grey);
  width: 0px;
  height: 0px;
  margin: 1px 0;
}

.SingleComment-dot-container {
  cursor: pointer;
  height: fit-content;
  padding: 3px;
}

.SingleComment-name-time-container {
  display: flex;
  flex-direction: column;
  line-height: 17px;
}

.SingleComment-del-opt {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #cbc7c7;
  position: absolute;
  right: 5px;
  top: 34px;
  font-size: 0.85em;
}

.SingleComment-del-opt div {
  cursor: pointer;
}
