.SingleUser {
  display: flex;
  gap: 2em;
  margin: 2em;
  margin-bottom: 0;
}

.SingleUser .index-left {
  flex: 1.2;
}

.SingleUser-right {
  flex: 5;
  display: flex;
  flex-direction: column;
  /* background-color: white;
  padding: 1em;
  border-radius: 6px; */
  padding-left: 2em;
  border-left: 1px solid #c4c4c4;
}

.SingleUser-img-container {
  display: flex;
  position: relative;
}

.SingleUser-background-photo {
  width: 90%;
  height: 300px;
  border-radius: 6px;
  object-fit: cover;
  image-rendering: pixelated;
}

.SingleUser-profile-photo {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  object-fit: cover;
  image-rendering: pixelated;
  position: absolute;
  bottom: -52px;
  left: 5px;
}

.SingleUser-user-details {
  display: flex;
  flex-direction: column;
  margin: 3em 0 1em 0;
  gap: 4px;
}

.SingleUser-name {
  font-size: 1.7em;
  font-weight: 700;
  /* font-family: "Poppins", sans-serif; */
  margin-top: 10px;
}

.SingleUser-data {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-grey);
  line-height: 1em;
  margin: 0 3px;
}

.SingleUser-bio {
  font-size: 17px;
  margin: 0 3px;
  font-weight: 500;
}

.SingleUser-dob-friends-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 3px;
}

.SingleUser-dob-friends-container .SingleUser-data {
  font-size: 17px;
  color: black;
  font-weight: 600;
}

.SingleUser-btn-container {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 5px 0;
}

.SingleUser-btn {
  padding: 4px 12px;
  border-radius: 20px;
  background-color: #c4c4c4;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: fit-content;
}

.SingleUser-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

.SingleUser-msg-btn {
  background-color: deepskyblue;
}

.SingleUser-req-btn {
  background-color: var(--dark-red);
  color: white;
}

.SingleUser-allPosts h2 {
  margin: 5px 0 0 0;
  font-family: "Poppins", sans-serif;
}

.SingleUser-allPosts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  margin: 10px 0;
}

.SingleUser-allPosts .HomePost-emoji-input-container {
  bottom: 165px;
  right: -100px;
}
